services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    tty: true
    stdin_open: true
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      # 호스트 경로 : 컨테이너 내부 경로
      - "D:/data/ollama_data/:/root/.ollama"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]